.thread {
    border-radius: 2px;
    border: 1px solid;
    margin: 0 15px 0 15px;
}

.post h1{
    font-size: 16px;
}

.post h2{
    font-size: 14px;
}

@media screen and (min-width: 375px) {
    .post h1{
        font-size: 18px;
      }

    .post h2{
        font-size: 16px;
    }
}

.icon-edit{
    background-image: url(../img/icon_edit.png);
    position: relative;
    background-position: 0 5px;
    padding: 8px 15px;
    background-repeat: no-repeat;
}

.icon-reply{
    background-image: url(../img/icon_reply.png);
    position: relative;
    background-position: 0 5px;
    padding: 8px 15px;
    background-repeat: no-repeat;
}

.post{
    padding: 5px;
    padding-bottom: 10px;
}

.topic-post{
    background-color: #eae9e9;
}

.not-bottom-post{
    border-bottom: 1px dashed;
}

.info-row{
    padding-left: 5px;
}

.team-info{
    font-size: 12px;
    margin-top: 11px;
}

@media screen and (min-width: 375px) {
    .team-info{
        font-size: 13px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 414px) {
    .team-info{
        font-size: 14px;
    }
}

.gray-text{
    font-size: 12px;
}

@media screen and (min-width: 375px) {
    .gray-text{
        font-size: 13px;
    }
}

@media screen and (min-width: 414px) {
    .gray-text{
        font-size: 14px;
    }
}

.user-info{
    margin-left: 12px;
    margin-top: 11px;
}

@media screen and (min-width: 375px) {
    .user-info{
        font-size: 13px;
        margin-top: 15px;
    }
}

@media screen and (min-width: 414px) {
    .user-info{
        font-size: 14px;
    }
}

p{
    -webkit-margin-before: 10px;
    margin-top: 10px;
}

p em{
    font-size: 12px;
}

@media screen and (min-width: 375px) {
    p em{
        font-size: 13px;
    }
}

@media screen and (min-width: 414px) {
    p em{
        font-size: 14px;
    }
}

.thread-title-text {
    padding: 10px;
    font-size: 14px;
}

@media screen and (min-width: 375px) {
    .thread-title-text{
        font-size: 16px;
    }
}

@media screen and (min-width: 414px) {
    .thread-title-text{
        font-size: 17px;
    }
}

.avatar{
    z-index: 0;
    left: 6px;
    top: 6px;
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 21px;
}

@media screen and (min-width: 375px) {
    .avatar{
        width: 40px;
        height: 40px;
    }
}

.action-button{
    font-size: 12px;
    top: 6px;
    position: relative;
}

@media screen and (min-width: 375px) {
    .action-button{
        font-size: 13px;
    }
}

@media screen and (min-width: 414px) {
    .action-button{
        font-size: 14px;
    }
}

.action-button img{
    position: relative;
    top: 6px;
    width: 20px;
}

.action-button span{
    position: relative;
    top: 6px;
}

.action-button-reply{
    padding-left: 10px;
}

.time-row{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    top: 15px;
    min-height: 15px;
    margin-bottom: 10px;
}

button{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    font-size: 12px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media screen and (min-width: 375px) {
    button{
        font-size: 13px;
    }
}

@media screen and (min-width: 414px) {
    button{
        font-size: 14px;
    }
}

pre{
    white-space: pre-wrap;
    margin: 1em;
}

img{
    max-width: 270px;
}

@media screen and (min-width: 375px) {
    img{
        max-width: 325px;
    }
}

@media screen and (min-width: 414px) {
    img{
        max-width: 364px;
    }
}

.post-content{
    border: 0.1em;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 14px;
}

@media screen and (min-width: 375px) {
    .post-content{
        font-size: 15px;
        line-height: 1.5em;
    }
}

.post-content button{
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 2em;
}

@media screen and (min-width: 375px) {
    .post-content button{
        font-size: 13px;
    }
}

@media screen and (min-width: 414px) {
    .post-content button{
        font-size: 14px;
    }
}

.post-content ul, ol{
    padding-left: 5px;
}
.post-content li{
    line-height: 1.5em;
}

.post-agent-text {
    padding-left: 15px;
}

.post-agent-source-text {
    padding-left: 5px;
}
